<div class="container">
    <header>
        <div>
            <ul>
                <li>Home</li>
                <li>Login</li>
                <li>Admin Login</li>
            </ul>
        </div>
    </header>
    <div class="jumbotron brand-name">
        <strong><h1 class="display-4">AIRLINES INTERNATIONAL</h1></strong>
    </div>
    <div class="footer">
        <h5 class="tag">Stay Safe, Stay Healthy.</h5>
        <p class="copyright">Copyright &copy; All Rights are Reserved</p>
    </div>
</div>